<footer class="gradient">
  <div class="container-fluid text-center">
    <span>
      Hecho con <3 para
      <a href="https://untref.edu.ar/"> Diplo Back @ UNTREF </a>
    </span>
  </div>
</footer>
</body>
</html>
